################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
extensions=buildout.minitagificator
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
[versions]
[part]
recipe = minitage.recipe.cmmi
url =http://${mirrors:gentoo}/distfiles/zip30.zip
md5sum =e88492c8abd68fa9cfba72bc08757dba
noconfigure=true
make-options =-f unix/Makefile PREFIX=${buildout:directory}/parts/part
make-targets=generic
cflags=-DUSE_BZIP2 -DUNICODE_SUPPORT -DUNICODE_WCHAR -DUTF8_MAYBE_NATIVE -DLARGE_FILE_SUPPORT 
patches=${buildout:directory}/minitage.patch
patch-options=-Np1
pre-configure-hook=${buildout:directory}/h.py:p
[mirrors]
gentoo = gentoo.tiscali.nl
